{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>About Us</h1>
    <p>welcome to <strong>smart duka</strong>you trusted online store!</p>
    <h3>our mission</h3>
    <p>our mission is to provide high-quality products at affordable prices, while delivering exceptional customer service.</p>
    <h3>why choose us </h3>
    <ul>
        <li>Wide range of products</li>
        <li>Competitive prices</li>
        <li>Fast and reliable shipping</li>
        <li>Excellent customer support</li>
    </ul>
</div>
{% endblock %}