{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Products</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>phone</h5>
                <p>$500</p>
                <button class="btn btn-dark">buy</button>

            </div>


        </div>

    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>laptop</h5>
                <p>$1000</p>
                <button class="btn btn-dark">buy</button>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>headphones</h5>
                <p>$200</p>
                <button class="btn btn-dark">buy</button>

            </div>
        </div>
    </div>

</div>
{% endblock %}